:root {
    --color-primary: #00AEEF;
    --color-button: #070471;
    --color-body: #707070;
    --color-pink: deeppink;
    --color-purple: darkslateblue;
    --chat-input-height: 10rem;
    --navbar-height: 7.85rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.inactive::before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 768px) {
	/*
    .inactive::before {
        display: none;
    }
    */
}

.prevent-animation * {
    transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
}

body, html {
	height: 100%;
}

/* Typography */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-body);
    font-size: 1.5rem;
}

html {
    font-size: 62.5%;
}


h1, h2, h3 {
    text-transform: uppercase;
}

p {
    margin: 0;
}

.font-purple {
	color: var(--color-button);
}

.font-pink {
	color: var(--color-pink);
}


/* Buttons */
.btn {
    border-radius: 30px;
    border: 2px solid var(--color-body);
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 1rem 2rem;
    transition: all 0.15s;
}

.btn--primary {
    background: var(--color-primary);
    border: 0;
    color: #fff;
}


.btn--primary:hover {
    background: #31C7FF;
}

.btn--pink {
	background: var(--color-pink);
	border: 0;
	color: #fff;
}

.btn--pink:hover {
	background: hotpink;	
}

.btn--outline {
    color: var(--color-button);
    border: 2px solid var(--color-button);
    background: #fff;
}

.btn--outline:hover {
    background: var(--color-button);
    color: #fff;
}

.btn--block {
    width: 100%;
    display: block;
    text-align: center;
}

@media screen and (max-width: 810px) {
	#create-new-room-btn span {
		display: none;
	}
	
	#create-new-room-btn::after {
		content: "Create";
	}
}

/* Links */
a {
    text-decoration: none;
}

a:link {
    color: var(--color-body)
}

a:visited {
    color: var(--color-body);
}

a:hover {
    color: var(--color-body);
}

a:active {
    color: var(--color-body);
}

/* Grids */
.grid {
    display: grid;
}


@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid--flip .grid__item-2 {
        grid-column: 1;
        grid-row: 1;
    }

    .grid--flip .grid__item-1 {
        grid-column: 2;
    }

}


/* Actions */
.action__icon {
    width: 90%;
}

.action__icon--small {
    width: 150px;
}

.action__header {
    text-align: center;
    white-space: nowrap;
}

.action__content {
    font-size: 3rem;
    margin-top: 4rem;
}

.grid .action__content {
    justify-self: center;
    text-align: center;
}

.employee {
    position: relative;
    transition: all 0.3s;
}

#mr_purple1 {
    opacity: 0;
}

#mr_pink2 {
    opacity: 0
}

#mr_purple2 {
    opacity: 0;
}

.slide-right--40 {
    transform: translateX(40px);
    opacity: 1 !important;
}

.slide-left--30 {
    transform: translateX(-30px);
    opacity: 1 !important;
}

@media screen and (min-width: 768px) {
    .grid--1x2 .action__content {
        align-self: center;
        justify-self: center;
    }
}


/* Containers */
.container {
    max-width: 1140px;
}

.container--center {
    margin: 0 auto;
}


.container--small {
    max-width: 65rem;
}

/* Cards */
.card {
    text-align: center;
}

.card__pre-title {
    font-size: 2rem;
}

.card__title {
    font-size: 3rem;
}

.card__content {
    margin: 3rem 0;
    font-weight: 500;
}

.grid .card__title-container {
    margin-bottom: 0;
}


.card--bordered {
    border: 2px solid var(--color-body);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
    .card.grid .card__content {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card.grid .card__title-container {
        margin-top: 0;
    }

    .card.grid .card__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card--bordered.container--small {
        min-height: 20rem;
    }
}


/* Lists */
.list {
    padding: 0;
    list-style: none;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 1.5rem;
}


/* Side Menu */
.side-menu {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 37rem;
    top: 0;
    padding: 1rem 1.5rem;
    background: #fff;
    transition: transform 0.3s;
}

.side-menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.side-menu__header .logo-container__heading {
    font-size: 1.3rem;
}

.side-menu__header .logo-container__logo {
    width: 9rem;
}

.side-menu--right {
    right: 0;
}

.side-menu__list .list__item {
    margin-bottom: 2rem;
    width: 100%;
}


@media screen and (min-width: 768px) {
	/*
    .side-menu {
        display: none;
    }
    */
}

@media screen and (max-width: 650px) {
    .side-menu {
        width: 90%;
    }
}

.toggler {
    fill: #777;
    cursor: pointer;
}


/* Collapsibles */
.collapsible__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.collapsible__heading {
    margin: 0.5rem;
}

.chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.15s;
}

.collapsible--expanded .chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
    padding: 1rem;
}

.collapsible-side-menu {
    transform: translateX(100%);
}

.collapsible-side-menu.collapsible-side-menu--expanded {
    transform: translateX(0);
}


/* Logo */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-container__logo {
    width: 12rem;
    margin: 0 1rem 0 0;
}

.logo-container__heading {
    font-weight: 500;
    font-size: 2.4rem;
}

@media screen and (max-width: 500px) {
    .logo-container__heading {
        font-size: 1.5rem;
    }
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.icon--dropdown {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    flex-shrink: 0;
    align-self: center;
}


/* Navigation Bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    height: var(--navbar-height);
    background: #fff;
    border-bottom: 1px solid var(--color-body);
}

.nav__list {
    display: none;
}

.nav__list-grouping {
	display: inline-flex;
    align-items: center;
    height: 100%;
}

.nav__list .list__item {
	padding: 0 1rem;
    transition: all 0.3s;
}

.nav__list .list__item:hover {
	color: var(--color-primary);
}

.nav__list .list__item:hover .nav__list-link {
	color: var(--color-primary);
	cursor: pointer;
	
}

.nav__list--full-height {
	margin: 0;
	height: 100%;
}

.nav__list--full-height .list__item {
	height: 100%;
	display: inline-flex;
	align-items: center;
}

@media screen and (min-width: 768px) {

    .nav__list {
        display: initial;
    }
}



/* Hero */

.hero.grid--1x2 {
    gap: 10rem 0;
}

.hero__img {
    padding: 0 10rem;
}

@media screen and (min-width: 1024px) {
    .hero__content {
        justify-self: left;
        text-align: left;
    }

    .hero__img {
        grid-template-columns: auto;
    }

    .hero.grid--1x2 {
        grid-template-columns: min-content auto;
    }

    .hero__title-container {
        white-space: nowrap;
    }

    .hero__title {
        font-size: 4rem;
    }

    .hero__pre-title {
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {

    .hero.grid--1x2 {
        gap: 0 5rem;
    }

    .hero__content {
        align-self: center;
    }

    .hero__img {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .hero__img {
        padding: 0 5rem;
    }
}



/* Blocks */
.block {
    padding: 2rem 2rem;
}

.block--vertically-distant {
    padding: 10rem 2rem;
}

.block-actions .action {
    margin-bottom: 20rem;
}

.block-actions {
    margin-top: 10rem;
}

/* Dropdown */
.dropdown {
    position: relative;
    cursor: default;
}

.dropdown__content {
    position: absolute;
    top: 90%;
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    width: max-content;
    max-width: 20rem;
    transition: all 0.3s;
    background: #fff;
}

.dropdown__content--bordered {
    border: 1px solid var(--color-body);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.dropdown__content--right {
    right: 0;
}

.dropdown__item {
    padding: 1rem;
}

.dropdown__item-header {
    font-size: 2rem;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.dropdown__item-description {
    
}

.dropdown:hover .dropdown__content {
    opacity: 1;
    visibility: visible;
    z-index: 9000;
    transform: translateY(0);
}


/* General form stuff======================== */
.logout input[type="submit"] {
	border: none;
	background: none;
	color: var(--color-body);
}

/* SIGN UP =================================== */


.full-viewport--center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    text-align: center;
}

.form__title {
    text-align: center;
    font-size: 3rem;
}

.user-input {
    height: 3rem;
    width: 20rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    outline: none;
    background: rgba(204, 204, 204, 0.5);
    border: none;
    border-radius: 10rem;
    font-size: 1.25rem;
}

.user-input::placeholder {
    color: rgba(46, 49, 146, 0.5);
}


/* Tables ================================ */
.table__head__header {
	padding: 0 2rem 2rem 2rem;
    text-align: center;
}

.td--center {
	text-align: center;
}

.full-viewport {
    height: 100%;
    display: flex;
}

.full-viewport--flex-column {
    flex-direction: column;
    align-items: center;
}

.filters {
    margin-top: 2rem;
}

.table__row__data {
    text-align: center;
    padding: 1rem 0;
}

.table__row__data__description {
    width: 60ch;
}

.table__row:hover {
    background: rgba(204, 204, 204, 0.5);
    cursor: pointer;
}

.table {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--purple);
    border-spacing: 0;
    width: fit-content;
}

#public-room-create-new {
	padding-top: 2rem;
}



/* Chat rooms ====================================== */

table {
    width: 100%;
}

tr {
    text-align: left;
}

td {
    padding: 1rem;
}

.chat-table {
    padding: 2rem;
    bottom: var(--chat-input-height);
    display: block;
    overflow-y: scroll;
    height: calc(100% - (var(--navbar-height) + var(--chat-input-height)));
    border-spacing: 0 2rem;
}

.chat-message {
	display: inline-block;
    max-width: 90%;
    overflow-wrap: anywhere;
   	background: var(--color-pink);
    border-radius: 20px;
    padding: 0.5rem 2rem;
    color: #fff;
}

.owner-chat::after {
	content: "";
	background: url("/icons/trash.svg");
	height: 25px;
	width: 25px;
}

#chat-input {
    resize: none;
    height: var(--chat-input-height);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 2rem;
}

.owner-chat {
	background: var(--color-primary);
}

/* PROFILE ================================= */
.profile-chat-table {
	height: 100%;
}

.profile-controls__controls {
	height: 100%;
	padding: 3rem;
	border-right: 1px solid grey;
}

.profile-controls__controls .list__item {
	padding-bottom: 1rem;
}

.profile-controls {
	height: calc(100% - (var(--navbar-height) + var(--chat-input-height)));
}


/* Chat room messages ================================== */
.chat-message__author {
	font-size: 1rem;
	color: #ddd;
}

/* FIX THESE============================ */

#subscription-content {
	font-size: 1.85rem;
}

#subscription-content .list__item {
	transition: all 0.2s;
}

#subscription-content .list__item:hover {
	transform: scale(1.05);
	margin-left: 1rem;
}

#subscription-content .list__item:hover a {
	color: var(--color-purple);
	font-weight: bold;
}

.collapsible__content .list__item {
	font-size: 1.85rem;
}

.collapsible__content .list__item {
	transition: all 0.2s;
}

.collapsible__content .list__item:hover {
	transform: scale(1.05);
	margin-left: 1rem;
}

.collapsible__content .list__item:hover a {
	color: var(--color-purple);
	font-weight: bold;
}

.profile-controls__table-container {
	overflow-y: hidden;
	position: relative;
}

.current-room {
	position: absolute;
	right: 25px;
	font-size: 2rem;
	color: rgba(135, 135, 135, 0.5);
	font-weight: bolder;
}