<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{https://unpkg.com/aos@next/dist/aos.css}" />
    
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body class="prevent-animation">
    <header th:replace="basic_template :: main_header (memberService=${memberService})"></header>
    
    <div hidden class="user-avatar-name" th:text="${session.user.avatarName}"></div>
    
    <table class="chat-table container container--center">
    	<tr th:each="message : ${messages}">
    		<td th:if="${message.member.username == session.user.username}" class="chat-message owner-chat" th:inline="text">
    			<span class="chat-message__author">[[${message.member.avatarName}]]</span>
    			<br>
    			<span class="chat-message__content">[[${message.contents}]]</span>
    		</td>
    		<td th:if="${message.member.username != session.user.username}" class="chat-message" th:inline="text">
    			<span class="chat-message__author">[[${message.member.avatarName}]]</span>
    			<br>
    			<span class="chat-message__content">[[${message.contents}]]</span>
    		</td>
    	</tr>
    </table>

    <textarea name="chat-input" id="chat-input" placeholder="Type here" ></textarea>
    
    <script th:src="@{/scripts/main.js}"></script>
    <script th:src="@{/scripts/chat-script.js}"></script>
    <script th:src="@{/scripts/animateActions.js}"></script>
    <script th:src="@{https://unpkg.com/aos@next/dist/aos.js}"></script>
    <script>
      AOS.init();
    </script>  
</body>
</html>