<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{https://unpkg.com/aos@next/dist/aos.css}" />
</head>
<body class="prevent-animation">
    <header th:replace="basic_template :: main_header (memberService=${memberService})"></header>
    
    <main style="height: 100%;">
	    <section class="form full-viewport--center">
		    <form th:action="@{/app/processNewRoom/}"
	    	      th:object="${room}" method="POST" >
	          
	        
	            <h1 class="form__title"><span class="font-purple">Create</span> <span class="font-pink">Room</span></h1>
	
	            <input th:field="*{name}" class="user-input" type="text" required placeholder="Bored Room Name">
	            <br>
	            <input th:field="*{description}" class="user-input" type="text" required placeholder="Description">
	            <br>
	            <input class="btn" type="submit" value="Create">
	            <br>
	        </form>
	    </section>
    </main>
    
    <script th:src="@{/scripts/main.js}"></script>
    <script th:src="@{/scripts/animateActions.js}"></script>
    <script th:src="@{https://unpkg.com/aos@next/dist/aos.js}"></script>
    <script>
      AOS.init();
    </script>  
</body>
</html>