<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{https://unpkg.com/aos@next/dist/aos.css}" />

    <title>Bored Members</title>

</head>
<body class="prevent-animation">
    <header th:include="basic_template :: main_header (member=${member})"></header>
    
    <main>
        <section class="block hero grid grid--1x2 container container--center">
            <div class="card hero__content">
                <header class="card__header">
                    <h1 class="card__title-container hero__title-container">
                        <div
                            data-aos="fade-right"
                            data-aos-mirror="true"
                            class="card__pre-title hero__pre-title">Chat Rooms</div>
                        <div
                            data-aos="fade-right"
                            data-aos-mirror="true"
                            data-aos-delay="150"
                            class="card__title hero__title">For Business Leaders</div>
                    </h1>
                </header>
                <div
                    data-aos="fade-right"
                    data-aos-mirror="true"
                    data-aos-delay="300"
                    class="card__content">
                    <p>Being an entrepreneur doesn't have to be lonely.</p>
                </div>
            </div>
            <div class="hero__img">
                <img
                    data-aos="zoom-in"
                    data-aos-duration="500"
                    data-aos-mirror="true"
                    src="icons/bored_members_network.svg" alt="">
            </div>
        </section>
        <section class="block block--vertically-distant">
            <div
                data-aos="fade-up"
                data-aos-delay="100"
                class="block container container--small container--center card card--bordered grid grid--1x2">
                <header class="card__header">
                    <h1 class="card__title-container">
                        <div class="card__pre-title">Meet</div>
                        <div class="card__title">Bored Members</div>
                    </h1>
                </header>
                <div class="card__content">
                    <p>A place where creative business minds meet and chat about ideas.</p>
                </div>
            </div>
        </section>
        <section class="block-actions">
            <div class="action grid grid--1x2 container container--center">
                <header class="action__header join-others">
                    <svg id="mr_purple1" class="action__icon action__icon--small employee" viewBox="0 0 321 362">
                        <use xlink:href="icons/sprite.svg#mr_purple"></use>
                    </svg>
                    <svg id="boss1" class="action__icon action__icon--small employee" viewBox="0 0 70 85">
                        <use xlink:href="icons/sprite.svg#boss"></use>
                    </svg>
                    <svg id="mr_pink1" class="action__icon action__icon--small employee slide-left--30" viewBox="0 0 81 85">
                        <use xlink:href="icons/sprite.svg#mr_pink"></use>
                    </svg>
                </header>
                <div class="action__content">
                    <p>Participate in existing Bored Rooms</p>
                </div>
            </div>
            <div class="action grid grid--1x2 grid--flip container container--center">
                <header class="grid__item-1 action__header invite-to-you">
                    <svg id="mr_purple2" class="action__icon action__icon--small employee" viewBox="0 0 321 362">
                        <use xlink:href="icons/sprite.svg#mr_purple"></use>
                    </svg>
                    <svg id="boss2" class="action__icon action__icon--small employee" viewBox="0 0 70 85">
                        <use xlink:href="icons/sprite.svg#boss"></use>
                    </svg>
                    <svg id="mr_pink2" class="action__icon action__icon--small employee" viewBox="0 0 81 85">
                        <use xlink:href="icons/sprite.svg#mr_pink"></use>
                    </svg>
                </header>
                <div class="grid__item-2 action__content">
                    <p>Or invite others to yours!</p>
                </div>
            </div>
        </section>
        <section class="block container container--center">
            <button class="btn btn--block btn--outline">Learn More</button>
        </section>
    </main>

    <script th:src="@{/scripts/main.js}"></script>
    <script th:src="@{/scripts/animateActions.js}"></script>
    <script th:src="@{https://unpkg.com/aos@next/dist/aos.js}"></script>
    <script>
      AOS.init();
    </script>  
</body>
</html>